
/*основний колір тексту #212121 */
/*другорядний колір #757575 */
/* колір лого #000000 #2196F3 */
/* колірховеру #2196F3 */
/* color page background: #F5F5F5; */
/* background: #F5F4FA; фон наша команда */

:root {
  --primary-text-color: #212121;
  --secont-text-color: #757575;
  --primary-bg-color: #F5F5F5;
  --color-button-accent:#2196F3;
  --color-secondary:#F5F4FA;
  --color-text-white:#FFFFFF;
 
}
body {
  background-color: var(--primary-bg-color);
  font-family: 'Roboto';
  font-style: normal;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}
/* style logo */
.logo {
  color: var(--color-button-accent);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.logo-last-part {
  color: #000000;
}

/*відміняємо маркування списку*/
ul {
  list-style: none;
}

/*header*/
.site-nav {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link {
  color: var(--primary-text-color);
}

.header-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header .link:hover,
.header .link:focus {
  color: var(--color-button-accent);
}

.link.current {
  color: var(--color-button-accent);
}

/*кнопки*/
/*внопка на сторінці студія*/

.button-hat {
  background-color: #2196F3;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text-white);
}

.button-hat:hover,
.button-hat:focus {
  background-color: #188CE8; 
  color: var(--color-text-white);
}

/*кнопки на сторінці портфоліо*/
.button-portfolio {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-text-white);
  background-color: var(--color-button-accent);
}

/*стилізація секцій*/

.section-title-big{
  color: var(--color-text-white);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

/*стилізація about futures*/
.title-none {
  display: none;
}

.feature-title {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-features {
  color: var(--secont-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
}

.wedo-title.team-title {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

/*стилізацція our team*/
.name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.position {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
}

/*стилізація портфоліо*/
.photo-portfolio {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.filtr-portfolio {
  color: var(--secont-text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
}

/*стилізація footer*/
.adress-footer {
  color: var(--color-text-white);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}